[submodule "portunus_api"]
	path = cableguard_api
	url = https://github.com/keezel-co/portunus_api.git
[submodule "portonus_cd"]
	path = cableguard_cd
	url = https://github.com/keezel-co/portunus_cd.git
